<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MapMitra</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="map"></div>
    <div id="controls">
      <button id="find-location-btn">Find My Location</button>
      <div id="loading" class="loading">Fetching location...</div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
